language: cpp
compiler:
    - g++
sudo: false
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - boost-latest
    packages:
      - libboost1.55-all-dev
      - libssl-dev
      - libcurl4-openssl-dev
      - gcc-4.9
      - g++-4.9
cache:
  apt: true
env:
  global:
    - CXX=g++-4.9
script: scons install apps samples
branches:
    only:
        - master
notifications:
    email:
        on_success: change
        on_failure: always
