<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>org.freelan.freelan</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/freelan</string>
    <string>-c</string>
    <string>/usr/local/etc/freelan/freelan.cfg</string>
    <string>-f</string>
  </array>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
</dict>
</plist>
