Source: freelan
Section: net
Priority: extra
Maintainer: Rolf Leggewie <foss@rolf.leggewie.biz>
Uploaders: Julien Kauffmann <julien.kauffmann@freelan.org>
Build-Depends: debhelper (>= 9),
 libssl-dev, libcurl4-openssl-dev, libboost-system-dev, libboost-thread-dev,
 libboost-program-options-dev, libboost-filesystem-dev,
 libboost-iostreams-dev, scons
Standards-Version: 3.9.8
Homepage: http://www.freelan.org
Vcs-Git: https://github.com/freelan-developers/freelan.git -b debian/unstable
Vcs-Browser: https://github.com/freelan-developers/freelan-all/tree/debian/unstable

Package: freelan
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 lsb-base (>= 3.0-6)
Description: Peer-to-peer virtual private network daemon
 Freelan is an application to create secure ethernet tunnels over a
 single UDP port. It can be used to create virtual LANs ("Local
 Area Network"), hence the name: "freelan".
 .
 Freelan may create peer-to-peer tunnel connections or rely on a
 more classic client/server layout. The virtual network can be
 shaped to fit exactly the bandwidth or topology constraints,
 providing an optimal virtual private network.
 .
 Freelan is particularly useful for remote sites interconnection and
 gaming.
