# This is the FreeLAN configuration file
#

[global]

[network]

# The protocol to use for hostname resolution.
#
# Possible values are: system_default, ipv4, ipv6
hostname_resolution_protocol=system_default

# The endpoint to listen on.
#
# The endpoint can be in both numeric and hostname format, and must contain a
# port specification to be more restrictive.
#
# Hostnames are resolved using the method specified by
# network.hostname_resolution_protocol.
#
# Warning: hostname are only resolved upon startup. Any change in their
# associated address during the application lifetime will be ignored. If a
# hostname resolution fails, the entry is ignored.
#
# Using a numeric value is recommended.
#
# Example values: 0.0.0.0:12000, [::]:12000, localhost:12000, 10.0.0.1:12000
# Default: 0.0.0.0:12000
listen_on=0.0.0.0:12000

# The tap adapter network addresses to use.
#
# The network addresses must be in numeric format with a netmask suffix.
# Invalid addresses are ignored.
#
# You may leave this parameter empty if the addresses are to be dynamically
# allocated.
#
# Example values: 9.0.0.1/24 fe80::1/64
# Default: 9.0.0.1/24
tap_adapter_addresses=9.0.0.1/24

# Whether to enable the DHCP proxy.
#
# When the DHCP proxy is enabled, all BOOTP/DHCP requests are silently rerouted
# to an internal DHCP server. Remote hosts never receive any DHCP request.
#
# Default: yes
enable_dhcp_proxy=yes

# Whether to enable the ARP proxy.
#
# When the ARP proxy is enabled, all ARP requests are silently rerouted to an
# internal ARP server. Remote hosts never receive any ARP request.
#
# Warning: Setting this parameter can lead to connectivity issues. It is
# provided solely for debugging and testing purposes.
#
# Default: no
enable_arp_proxy=no

# The routing method for messages.
#
# Possible values: switch, hub
#
# - switch: Act like a switch. Only send messages to the right host when its
# address is known.
# - hub: Send all messages to everyone on the network. The memory footprint is
# reduced at the cose of much higher bandwitdh usage. Recommended for 1-to-1
# networks only.
#
# Warning: At any time, if the memory consumption is too high, the
# routing_method may be temporarily switched to "hub" to prevent DoS attacks.
#
# Default: switch
routing_method=switch

# The timeout for hello messages.
#
# The time to wait for hello responses, in milliseconds.
#
# Default: 3000
hello_timeout=3000

# The contact list
#
# The list of hosts to connect to.
contact_list=

[security]

# The X509 certificate file to use.
certificate_file=config/alice.crt

# The private key file to use.
#
# This private key must match with the specified certificate file.
private_key_file=config/alice.key

# The certificate validation method to use.
#
# Possible values are: default, none
#
# - default: Matches any presented certificate against the specified
# certificate authorities.
# - none: Disable certificate validation.
#
# Warning: Think twice before setting "none" as a certificate validation as
# this completely disable certificate validation. If you choose to do so,
# ensure to have a robust certificate validation script set as
# certificate_validation_script.
#
# Default: default
certificate_validation_method=default

# The certificate validation script to call.
#
# Every time a external certificate is received and accepted by the specified
# certificate_validation_method, the specified script is called with a X509
# certificate filename as its first argument.
#
# If the script exit status is zero, the certificate is accepted.
# If the script exit status is non-zero, the certificate is rejected.
#
# The certificate validation script is called even if
# certificate_validation_method is set to "none".
#
# Specify an empty validation script path to disable script validation.
#
# Default: <empty>
certificate_validation_script=

# If use_whitelist is set, only endpoints that match the whitelist will be
# allowed to connect.
#
# Default: no
use_whitelist=no

# If use_blacklist is set, only endpoints that do not match the blacklist will
# be allowed to connect. If both use_whitelist and use_blacklist are set, only
# endpoints that match the whitelist but do not match the blacklist will be
# allowed to connect.
#
# Warning: Disabling this setting makes FreeLAN vulnerable to DoS attacks.
#
# Default: yes
use_blacklist=yes

# The endpoints allowed to connect.
#
# Endpoints can be in both numeric and hostname format, and may contain a port
# specification to be more restrictive.
#
# Hostnames are resolved using the method specified by
# network.hostname_resolution_protocol.
#
# Warning: hostname are only resolved upon startup. Any change in their
# associated address during the application lifetime will be ignored. If a
# hostname resolution fails, it is removed from the list.
#
# If use_whitelist is not set, this parameter is ignored.
#
# Example values: 10.0.0.1 ::1 some.host.somewhere 10.0.0.2:12000
# [fe80::2]:12000 some.other.host.somewhere:12000
whitelist=

# The endpoints never allowed to connect.
#
# Endpoints can be in both numeric and hostname format, and may contain a port
# specification to be more restrictive.
#
# Hostnames are resolved using the method specified by
# network.hostname_resolution_protocol.
#
# Warning: hostname are only resolved upon startup. Any change in their
# associated address during the application lifetime will be ignored. If a
# hostname resolution fails, it is removed from the list.
#
# If use_whitelist is not set, this parameter is ignored.
#
# Example values: 10.0.0.1 ::1 some.host.somewhere 10.0.0.2:5000 [fe80::2]:5000
# some.other.host.somewhere:5000
blacklist=
