Source: freelan-buildtools
Section: python
Priority: optional
Maintainer: Julien Kauffmann <julien.kauffmann@freelan.org>
Build-Depends: debhelper (>= 8.0.0), python-support (>= 0.3), python-setuptools
Standards-Version: 3.9.2
XS-Python-Version: >= 2.7
Homepage: http://www.freelan.org
Vcs-Git: git://git@github.com:ereOn/freelan-buildtools.git
Vcs-Browser: https://github.com/ereOn/freelan-buildtools

Package: freelan-buildtools
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, scons
XB-Python-Version: ${python:Versions}
Description: A set of Python tools to build freelan related libraries and binaries
 A set of Python tools to build freelan related libraries and binaries.
